.About {
    padding: 90px 0px 90px;
    &Wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    &Flex{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        padding: 10px;
    }
    &Title{
        font-weight: 600;
        font-size: 14px;
        color: rgba(68, 75, 211, 1);
    }
    &Subtitle{
        font-weight: 700;
        font-size: 40px;
        color: rgba(18, 17, 39, 1);
    }
}

@media (max-width: 843px){
    .About{
        &Wrapper{
            justify-content: center;
        }
    }
}
.Card {
    max-width: 264px;
    width: 100%;
    height: 322px;
    border-radius: 12px;
    box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
    gap: 24px;
    padding: 56px 24px 56px 24px;
    margin-right: 10px;
    &Image{
        width: 48px;
        height: 48px;
        margin-bottom: 20px;
    }
    &Title{
       font-weight: 700;
       font-size: 16px;
       color: rgba(18, 17, 39, 1);
       margin-bottom: 10px;
    }
    &Subtitle{
       font-weight: 400;
       font-size: 14px;
       color: rgba(18, 17, 39, 0.56);
    }
}

@media (max-width: 843px){
    .Card{
        margin: 20px 20px 20px 20px;

    }
    .About{
        &Subtitle{
            font-size: 36px;
        }
    }
}
@media (max-width: 500px){
    .About{
        &Subtitle{
            font-size: 28px;
        }
    }
}
@media (max-width: 320px){
    .About{
        &Subtitle{
            font-size: 20px;
        }
    }
}