.Frequently{
    padding: 90px 0px 90px;

    &Wrapper{
        display: flex;
        flex-direction: column;

    }
    &Wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
    }
    &Title{
        font-weight: 700;
        font-size: 32px;
        color: rgba(18, 17, 39, 1);
        text-align: center;
        margin-bottom: 20px;
    }
    &Subtitle{
        font-weight: 600;
        font-size: 14px;
        color: rgba(18, 17, 39, 0.56);
        text-align: center;
    }
    &Blog{
        max-width: 360px;
        width: 100%;
        height: 134px;
        display: flex;
        margin-top: 30px;

    }
    &Direct{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    &Icon{
        width: 28px;
        height: 28px;
    }
    &Text{
        font-weight: 700;
        font-size: 16px;
        color: rgba(18, 17, 39, 1);
        margin-bottom: 10px;
    }
    &Letter{
        font-weight: 400;
        font-size: 14px;
        color: rgba(18, 17, 39, 0.56);
    }
}
@media (max-width:720px){
   .Frequently{
    &Wrap{
        justify-content: center;
    }
    &Title{
        font-size: 28px;
    }
   }
}
@media (max-width:470px){
.Frequently{
    &Title{
        font-size: 20px;
    }
}
}