.Home{
    padding: 60px 0px 90px;
    background: url('../../../../images//image\ 13.png') left top /100% 100%;

    &Wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    
    &Flex{
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    &Image{
        max-width: 936px;
        width: 100%;
        height: 585px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &Images{
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(68, 66, 66, 0.458);
        top: 0;
        left: 0;
        z-index: 1001;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 80%;
            height: 100%;
        }
        cursor: pointer;
    }
}
@media (max-width:769px) {
    .Home{
        &Flex{
            width: 60%;
            margin-top: 20px;
        }
        Image{
            height: 500px;
        }
    }
}
@media (max-width:690px){
    .Home{
        &Image{
            height: 450px;
        }
    }
}
@media (max-width:500px){
    .Home{
        &Image{
            height: 400px;
        }
    }
}
@media (max-width:400px){
    .Home{
        &Image{
            height: 300px;
        }
    }
}