.Server {
    padding: 90px 0px 90px;
    background-color: rgba(255, 255, 255, 1);

    &Wrapper {
        display: flex;
        flex-direction: column;
    }

    &Title {
        font-weight: 700;
        font-size: 40px;
        color: rgba(18, 17, 39, 1);
        text-align: center;
        margin-bottom: 20px;
    }

    &Subtitle {
        font-weight: 400;
        font-size: 20px;
        color: rgba(18, 17, 39, 0.56);
        text-align: center;
        margin-bottom: 50px;
    }

    &Flex {
        display: flex;
        justify-content: space-around;
        padding: 40px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
    }
    &Blog{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &Letter {
        font-weight: 700;
        font-size: 40px;
        color: rgba(68, 75, 211, 1);
    }

    &Text {
        font-weight: 600;
        font-size: 14px;
        color: rgba(18, 17, 39, 0.56);
    }
}

@media (max-width:560px) {
    .Server{
        &Flex{
            flex-direction: column;
        }
        &Blog{
            margin-top: 20px;
        }
        &Title {
            font-size: 30px;
        }
        &Subtitle {
            font-size: 18px;
        }
    }
   
}